@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body {
  margin: 0;
  background-image: url('../assets/bonsai-bg.jpg');
  object-fit: cover;
  backdrop-filter: sepia(50%);
}



.App {
  display: flex;
  flex-direction: column;
 

}

.App > div {
  margin: 6px; /* Adding space between blogpost and comments */
}

